.navbar{
    overflow: hidden;
    position: fixed;
    /*z-index: 1;*/
    width: 100%;
    top: 0;
    background-color: rgb(90,90,90);
}

.navbar a{
    display: block;
    padding: 14px 16px;
}

.item-float-right {
    float: right;
    margin: 0 10px;
}

.nav-left-block{
    margin-right: 10%;

}

.main-header{
    display: block;
    width: 100%;
    background-image: url(img/bg-pattern.png), linear-gradient(to left, rgb(123, 67, 151), rgb(220, 36, 48));
}

.right-article-header{
    position: relative;
    width: 50%;
    float:left;
}

.left-article-header{
    position: block;
    width: 50%;
    float:left;
    height: 100%;
    margin: 0;
}

.left-header-content{
    position: relative;
    top: 25%;
    padding-left: 35%;
    font-size: 45px;
}

.btn-header:active,.btn-header:focus{
    box-shadow: none;
    outline: 0;
}
.btn-header:hover{
    background-color: rgb(220,220,0);
    color: white;
}
.btn-header{
    padding: 15px 45px;
    border-radius: 300px;
    border: 1px #grey;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
}

.img-header{
    padding-left: 10%;
}

ul{
    margin: 0;
}
.main-header{
    margin-top: 46px;
}

body{
    margin: 0;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

li {
    float:left;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}


li a:hover{
    background-color: grey;
}
